.openstad .header-top-bar,
[data-apos-level] .header-top-bar {
    border-bottom: 0px;
		padding: 0px;
}

@media (min-width: 1200px) {
  .openstad .col-sm-6,
  [data-apos-level] .col-sm-6 {
      width: 50% !important;
  }
}

@media (min-width: 576px) {
  .openstad .col-sm-6,
  [data-apos-level] .col-sm-6 {
      flex: 0 0 auto;
      width: 100%;
  }
}

/* positie logo in de footer */
.openstad footer .container:after,
[data-apos-level] footer .container:after {
    background-position-x: left;
}

@media screen and (min-width: 768px) {
    .openstad footer .container:after, [data-apos-level] footer .container:after {
        background-position-x: right !important;
    }
}