/* Openstad class font naar Roboto */
.openstad .osc, .osc *,
[data-apos-level] .osc, .osc * {
    font-family: var(--utrecht-paragraph-font-family);
}

/* styling header */
.openstad .--compact,
[data-apos-level] .--compact {
	padding: 0 0 18px;
}

.openstad .header-top-bar, 
[data-apos-level] .header-top-bar {
	background-color: var(--groningen-color-accent);
    margin: 0px !important;
	width: 100%;
    border-bottom: 0px;
}

.openstad .header-top-bar a, 
[data-apos-level] .header-top-bar a {
    color: var(--groningen-color-white);
	text-decoration: none;
	font-weight: 500;
}

.openstad .header-top-bar a:hover, 
[data-apos-level] .header-top-bar a:hover {
		text-decoration: underline;
}

/* witruimte boven afbeeldingen verwijderen */
.openstad .image-component.--normal, 
[data-apos-level] .image-component.--normal {
    --image-height: auto !important;
}

/* Begrootmodule: knoppen overzicht naast elkaar op mobile */
@media only screen and (max-width: 768px) {
    .openstad .osc-stem-begroot-content-item-footer {
        flex-wrap: nowrap !important;
    }
}

/* Begrootmodule: infolabel sectie verbergen */
.openstad .stembegroot--infolabels, 
[data-apos-level] .stembegroot--infolabels{
	display: none !important;
}

/* Begrootmodule: optie om samenvating te verbergen met hide-summary class */
.openstad .hide-summary .stem-begroot--container .utrecht-paragraph, 
[data-apos-level] .hide-summary .stem-begroot--container .utrecht-paragraph{
	display: none;
}

/* Begrootmodule: samenvating in dialog verbergen */
.openstad .osc-begrootmodule-resource-detail-texts-and-actions-container p.utrecht-paragraph.strong,
[data-apos-level] .osc-begrootmodule-resource-detail-texts-and-actions-container p.utrecht-paragraph.strong {
	display: none;
}

/* Begrootmodule: spacing tussen tekst in dialog */
.openstad .osc-begrootmodule-resource-detail-texts-and-actions-container > div:nth-child(1) > div:nth-child(1) > div,
[data-apos-level] .osc-begrootmodule-resource-detail-texts-and-actions-container > div:nth-child(1) > div:nth-child(1) > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Begrootmodule: spacing ideeën overzicht */
.openstad .osc .osc-listview-template-columns-3 {
    grid-gap: 2rem;
}

/* Begrootmodule: beschrijving verbergen in ideeën overzicht */
.openstad .stem-begroot--container .utrecht-paragraph+.utrecht-paragraph, 
[data-apos-level] .stem-begroot--container .utrecht-paragraph+.utrecht-paragraph{
	display: none;
}

/* Begrootmodule: budget en tags verbergen in dialog */
.openstad .osc-gridder-resource-detail-budget-theme-bar, 
[data-apos-level] .osc-gridder-resource-detail-budget-theme-bar {
	display: none;
}

/* Begrootmodule: aantal stemmen sectie*/
.openstad .stem-begroot-helptext-and-budget-section-budget {
    background-color: var(--groningen-color-grey-background-light) !important;
    border-radius: var(--groningen-border-radius-3px);
    max-width: 350px;
}

/* font kleur omschrijving in formulier */
.openstad .utrecht-form-field-description, 
[data-apos-level] .utrecht-form-field-description{
    color: var(--utrecht-paragraph-color) !important;
}

/* keuzewijzer verwijderen box-shadow */
.openstad .osc .osc-choiceguide-container .question-type-range, 
[data-apos-level] .osc .osc-choiceguide-container .question-type-range{
box-shadow: none;
}

/* padding idee detailpagina */
.openstad .osc-resource-detail-content-items {
    padding: 0 !important;
}

/* header image witruimte op mobile verwijderen */
@media screen and (max-width: 540px) {
    .image-component.--small {
      margin-left: -2.5%;
      width: 105%;
  }
  }

/* witruimte onder het input veld in een formulier */
.openstad .utrecht-form-field__input {
    padding-bottom: 20px;
}

/* witruimte en breedte kaart in een formulier */
.openstad .form-field-map-container {
    padding-bottom: 20px;
}

.openstad .form-field-map-container .map-container {
    width: var(--basemap-map-width) !important;
}

/* positie logo in de footer */
.openstad footer .container:after,
[data-apos-level] footer .container:after {
    background-position-x: left;
}

@media screen and (min-width: 768px) {
    .openstad footer .container:after, [data-apos-level] footer .container:after {
        background-position-x: right !important;
    }
}