.--compact {
	padding: 0 0 18px;
}
.header-top-bar {
	background-color: var(--groningen-color-accent);
    margin: 0px !important;
	width: 100%;
    border-bottom: 0px;
}

.header-top-bar a {
    color: var(--groningen-color-white);
	text-decoration: none;
	font-weight: 500;
}

.header-top-bar a:hover {
		text-decoration: underline;
}

.image-component.--normal {
    --image-height: auto !important;
}

/* idee overzicht in begrootmodule */
.hide-element .stembegroot--infolabels {
	display: none !important;
}

.hide-element .stembegroot-content-item-header {
	display: none;
}

.stem-begroot--container .utrecht-paragraph+.utrecht-paragraph {
	display: none;
}

/* idee dialog in begrootmodule */
section.osc-begrootmodule-resource-detail-texts-and-actions-container > div > div > div {
    display: flex
;
    flex-direction: column;
    gap: 1rem;
}

.osc-gridder-resource-detail-budget-theme-bar {
	display: none;
}