.--compact {
	padding: 0 0 18px;
}
.header-top-bar {
	background-color: var(--groningen-color-accent);
    margin: 0px !important;
	width: 100%;
    border-bottom: 0px;
}

.header-top-bar a {
    color: var(--groningen-color-white);
	text-decoration: none;
	font-weight: 500;
}

.header-top-bar a:hover {
		text-decoration: underline;
}

.image-component.--normal {
    --image-height: auto !important;
}

.hide-element .stembegroot--infolabels {
	display: none !important;
}

.hide-element .stembegroot-content-item-header {
	display: none !important;
}

.hide-element .osc-gridder-resource-detail-budget-theme-bar {
	display: none !important;
}